 
      
        
        <mat-nav-list >

            <a mat-icon mat-list-item routerLink="/trades" routerLinkActive="selected" (click)="onClose()">
                
                <mat-icon>horizontal_split</mat-icon>

                <span class="navigation-items">Trade</span>
                </a>
    
                

            <a mat-list-item routerLink="/transfer" routerLinkActive="selected" (click)="onClose()">
            
                <mat-icon>horizontal_split</mat-icon>

                <span class="navigation-items">Transfer</span>
            
            </a>
        
    
   

            <a mat-list-item routerLink="/transport" routerLinkActive="selected" (click)="onClose()">
            
            
                <mat-icon>horizontal_split</mat-icon>

                <span class="navigation-items">Transports</span>
            
            </a>

    


</mat-nav-list>