 
      
        
        <mat-nav-list >

            <a mat-icon  *ngIf="userIsAuthenticated" mat-list-item routerLink="/trades" routerLinkActive="selected" (click)="onClose()">
                
                <mat-icon>horizontal_split</mat-icon>

                <span class="navigation-items">Trade</span>
                </a>
    
                

            <a mat-list-item  *ngIf="userIsAuthenticated"  (click)="onClose()">
            
                <mat-icon>horizontal_split</mat-icon>

                <span class="navigation-items">Transfer</span>
            
            </a>
        
    
   

            <a mat-list-item *ngIf="userIsAuthenticated"  (click)="onClose()">
            
            
                <mat-icon>horizontal_split</mat-icon>

                <span class="navigation-items">Transports</span>
            
            </a>


            <a mat-list-item *ngIf="!userIsAuthenticated" routerLink="/auth/signUp" routerLinkActive="selected" (click)="onClose()">
            
            
                <mat-icon>horizontal_split</mat-icon>

                <span class="navigation-items">Register</span>
            
            </a>

            <a mat-list-item *ngIf="!userIsAuthenticated" routerLink="/auth/login" routerLinkActive="selected" (click)="onClose()">
            
            
                <mat-icon>horizontal_split</mat-icon>

                <span class="navigation-items">Login</span>
            
            </a>
    


</mat-nav-list>