<mat-card id="tradeSearchCard">
  <form id="searchForm" (submit)="onSearch(tradeForm)" #tradeForm="ngForm" fxLayout fxLayout="center" fxLayoutGap="10px">
  
    <mat-form-field>
      <input matInput [matDatepicker]="picker" placeholder="Trade From Date" name="fromDate" ngModel required>
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <!-- <input matInput [matDatepicker]="picker" placeholder="Trade To Date">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker> -->
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="pickerTo" placeholder="Trade To Date" name="toDate" ngModel required>
      <mat-datepicker-toggle matSuffix [for]="pickerTo"></mat-datepicker-toggle>
      <mat-datepicker #pickerTo></mat-datepicker>
    </mat-form-field>
   
   
  <mat-form-field>
    <mat-select placeholder="Commodity Select" name="commodity" ngModel required>
      <mat-option *ngFor="let comm of commodities" [value]="comm.value">
        {{comm.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

 
   <section class="sideCheck" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px" fxFlex="13">
  
    <label for="side">Side</label>
  
  <section fxLayout fxLayoutAlign="center center" fxLayoutGap="13px">
    <mat-checkbox color="primary" name="buy" ngModel >Buy</mat-checkbox>
   
    <mat-checkbox color="primary" name="sell" ngModel >Sell</mat-checkbox>

  </section>

  </section>
  <!-- <label for="side">Side</label>
  <mat-radio-group>
    <mat-radio-button value="buy">Buy</mat-radio-button>
    <mat-radio-button value="sell">Sell</mat-radio-button>
  </mat-radio-group> -->

  <mat-form-field>
    <mat-select placeholder="Counterparty Select" name="counterparty" ngModel required>
      <mat-option *ngFor="let counterparty of counterParties" [value]="counterparty.value">
        {{counterparty.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field>
    <mat-select placeholder="Location Select" name="location" ngModel required>
      <mat-option *ngFor="let loc of locations" [value]="loc.value">
        {{loc.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  
  

    <button  mat-raised-button color="primary" type="submit">Search</button>
    <!-- <span class="spacer"></span> -->
  
    <button type="submit" mat-raised-button color="primary"  (click)="clearFlag=true" >Clear</button>
    
  
  
    </form>
  </mat-card>
  