<mat-card fxLayout="column" fxLayoutAlign="center center">
    <mat-card-header>
        <mat-card-title>
          <mat-chip-list fxLayout fxLayoutAlign="center center">
            <mat-chip color="primary">
              <strong id="textLabel">
            Welcome to the Trade App
          </strong>
          </mat-chip>
          </mat-chip-list>
        </mat-card-title>
        <!-- <mat-card-subtitle>Subtitle</mat-card-subtitle> -->
    </mat-card-header>
    <img matCardImage src="https://financialtribune.com/sites/default/files/field/image/06_Aman.jpg">
    <mat-card-content>
        Please Register or Login to Continue
    </mat-card-content>
    <!-- <mat-card-actions align="start">
        <button mat-button (click)="onAction1">Action1</button>
        
    </mat-card-actions>
    <mat-card-footer>
        Footer
    </mat-card-footer> -->
</mat-card>


