<mat-card fxLayout="column" fxLayoutAlign="center center">
    <mat-card-header>
        <mat-card-title>
          <mat-chip-list  fxLayout fxLayoutAlign="center center">
            <mat-chip color="primary" >
              <strong id="textLabel">
            Welcome to the Trade App
          </strong>
          </mat-chip>
          </mat-chip-list>
        </mat-card-title>
       
    </mat-card-header>
    <img matCardImage [src]="'assets/images/trade.jpg'" alt="image">
    <mat-card-content >
      <span *ngIf="!userIsAuthenticated && !userIsRegistered">Please Register or Login to Continue</span>  

    <span *ngIf="userIsAuthenticated">User is successfully logged in</span>

    <span *ngIf="userIsRegistered">User is successfully registered . Please login to continue</span>
    </mat-card-content>
    
</mat-card>


